body {
  font-family: "Poppins", sans-serif;
  margin: 50px 50px 0 50px;
  background-color: #faf9f6;
  display: flex;
  flex-direction: column;
  min-height: 95vh;
}
.main {
  flex: 1;
}

h1 {
  font-size: 5rem;
}

footer {
  text-align: right;
  color: midnightblue;
  clear: both;
}

.left{
  float: left;
  height: 40%;
  width: 40%;
}

.card-title{
  margin-left: 10px;
  padding: 10px;
}
.right{
  float: right;
  height: 40%;
  width: 40%;
}
.tile-image{
  float: left;
  height: 200px;
  margin-right: 50px;
}

.Creative{
  color: darkblue;
}

@media (max-width:605px){
  .card{
    float:none;
  }
}
@media (max-width:1405px){
  .tile-image{
    height: 200px;
    margin-right: 50px;
    float:none
  }
}